.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target-container {
  border-radius:  1rem;
  padding: 0.5rem;
  color: lightgrey;
  background-color: rgb(252, 252, 224);
  max-width: 80vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#dashboard-page .buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

#dashboard-page .game-option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
  border: solid black 0.1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}