@color-2nd: GhostWhite;
@color-3rd: Gainsboro;

.target-container {
  border-radius:  1rem;
  padding: 0.5rem;
  background-color: gainsboro;
  max-width: 80vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}