@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

:root {
  --safe-green: #63e0ae;
  --warning-red: #ff0f0f;
  --untyped: rgb(32, 32, 32);
}

body {
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.code {
  font-family: Lato, sans-serif;
}

.typed-wrong {
  color: var(--warning-red);
}

.typed-right {
  color: var(--safe-green);
}

.untyped {
  color: var(--untyped);
}

.centered-text {
  text-align: center;
}
