@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|PT+Mono);

:root {
  --safe-green: #63e0ae;
  --warning-red: #ff0f0f;
  --untyped: rgb(32, 32, 32);
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.code {
  font-family: Lato, sans-serif;
}

.typed-wrong {
  color: var(--warning-red);
}

.typed-right {
  color: var(--safe-green);
}

.untyped {
  color: var(--untyped);
}
